<%- include("./Partes/Cabecera.ejs") %>

    <!-- Page Header Start -->
    <div class="container-fluid py-6 my-6 mt-0 " style="background: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(../img/FondoEscritorio55.png) center center no-repeat;
            background-size: cover; " data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="display-4 text-white animated slideInDown mb-4">Crear usuario del sistema</h1>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Appointment Start -->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
                        <img class="position-absolute w-100 h-100" src="img/01.png" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">                    
                    <h1 class="display-6 mb-4" style="text-align:center;">Crea un nuevo usuario capaz de utilizar el sistema de mensajes.</h1>                    
                    <!--FORM CON METODO POST-->
                    <form action="/crearusuario" method="POST">                        
                            <div class="row">
                                <label for="gname" style="color: rgb(26, 23, 23);font-size: 20px;">Ingresa Usuario</label>
                                <div class="form-floating">
                                    <input type="email" class="form-control border-0 bg-light" name="username" >
                                </div>
                            </div>                                                        
                            <div class="row mt-4">
                                <label for="gname" style="color: black;font-size: 20px;">Ingresa Contraseña</label>
                                <div class="form-floating">
                                    <input type="text" class="form-control border-0 bg-light" name="contraseña" >
                                </div>
                            </div>                            
                            <div class="row mt-4 ">                                
                                    <label for="gname" style="color: black;font-size: 20px;">Selecciona Opción</label>
                                    <div class="col">
                                        <input type="radio" name="habilitado" value="true" checked> Habilitado
                                    </div>
                                    <div class="col">
                                        <input type="radio" name="habilitado" value="false"> No Habilitado
                                    </div>                                                                    
                            </div>                            
                            <div class="row mt-4">                            
                                <button class="btn btn-dark py-3">Crear Usuario</button>
                            </div>                        
                    </form>
                    <!--FORM CON METODO POST-->
                </div>
            </div>
        </div>
    </div>    
    <!-- Appointment End -->

    <%- include("./Partes/Piedepag.ejs") %>