<%- include("./Partes/Cabecera.ejs") %>

    <!-- AQUI ENTRA EL CODIGO QUE DESEA REALIZAR -->
    <div class="container text-center">
        <div class="row  mt-2">
            <h1>OBTENER EL SALDO DE LOS CHIPS</h1>
        </div>
    </div>
   
    <div class="container text-center">
        <form action="/consultar" method="POST">
        <div class="row  mt-2">
            <div class="col">
                <button class="btn btn-dark w-100 py-3" id="saldo">Consultar saldo</button>
            </div>     
        </div>
        </form>
            <div class="row mb-5 mt-4">
                <div class="col">
                    <form action="/enviarsaldo" method="POST">
                        <input style="display: none" id="val" name="val" value="0">
                        <div class="container text-center" id="contenedor">
                        </div>
                        <button class="btn btn-dark w-100 py-3">Programar Envio</button>
                    </form>
                </div>            
        </div>
    </div>
    <!-- AQUI ENTRA EL CODIGO QUE DESEA REALIZAR -->

    <script>
    const container = document.querySelector('#contenedor')
    const btnaddinput = document.querySelector('#saldo')
    const val = document.querySelector('#val')
    let max = 300
    btnaddinput.addEventListener('click', e => {

        let div = document.createElement('div');
        let ran = Math.floor(Math.random() * max)
        div.innerHTML = `<div class="row">
                <div class="form-group col">
                    <div class="col-sm-10">
                        <p name="msgsaldo"> El saldo que tiene es ${ran}</p>                            
                    </div>
                </div>                                
            </div>`;
        console.log("pintando cajas")
        val.value = ran
        container.appendChild(div);
    })
    </script>
<%- include("./Partes/Piedepag.ejs") %>